language:
    python

python:
    - "2.7"

env:
    TOXENV=py27

install:
    - git clone -b develop --recursive https://www.github.com/ankrypt/in-toto.git
    - pip install tox
    - pip install coveralls
    - cd in-toto
    - pip -install -e .
    - cd ..
script:
    tox

after_success:
    coveralls
