language:
    python

python:
    - "2.7"

env:
    TOXENV=py27


install:
    - git clone -b develop --recursive https://www.github.com/ankrypt/in-toto.git
    - pip install tox
    - pip install coveralls
    - pip install pycrypto cryptography
    - cd in-toto
    - pip install -e .
    - export SIMPLE_SETTINGS=toto.settings
    - cd ..
script:
    - ./toto/toto-run.py --step-name funktest --products ./mytest --key bob -- echo
    - ls -a
    - tox
after_success:
    coveralls
